# log4j.jar - log4j classes (see http://jakarta.apache.org/log4j)
log4j.jar=/java/log4j/log4j.jar

# logkit.jar - Avalon LogKit classes (see http://jakarta.apache.org/jakarta-avalon)
logkit.jar=/java/logkit/logkit.jar


#
# if you want to run the test cases, junit needs to be in the classpath.
# the build.xml uses a default value so you might not need to set this property.
#
# junit.jar=../../jakarta-velocity/build/lib/junit-3.7.jar